<div class="row">
 <div class="col-sm-4" >
<img src="ipl images/ipl_logo.jpg"  alt="Ipl Logo"/>
</div>
 <div class="col-sm-8" >
<div id="myCarousel" class="carousel slide" data-ride="carousel">
 <!-- Indicators -->
 <ol class="carousel-indicators">
   <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
   <li data-target="#myCarousel" data-slide-to="1"></li>
   <li data-target="#myCarousel" data-slide-to="2"></li>
   <li data-target="#myCarousel" data-slide-to="3"></li>
   <li data-target="#myCarousel" data-slide-to="4"></li>
   <li data-target="#myCarousel" data-slide-to="5"></li>
   <li data-target="#myCarousel" data-slide-to="6"></li>
   <li data-target="#myCarousel" data-slide-to="7"></li>
 </ol>

 <!-- Wrapper for slides -->
 <div class="carousel-inner" role="listbox">

   <div class="item active">
     <img src="ipl images/team_logo/DD.jpg" alt="Delhi Daredevils" width="460" height="345">
   </div>

   <div class="item">
     <img src="ipl images/team_logo/GL.jpg" alt="Gujrat Lions" width="460" height="345">
   </div>

   <div class="item">
     <img src="ipl images/team_logo/KKR.jpg" alt="Kolkatta Knight Riders" width="460" height="345">
   </div>

   <div class="item">
     <img src="ipl images/team_logo/KXIP.jpg" alt="Kings XI Punjab" width="460" height="345">
   </div>
   <div class="item">
     <img src="ipl images/team_logo/MI.jpg" alt="Mumbai Indians" width="460" height="345">
   </div>

   <div class="item">
     <img src="ipl images/team_logo/RCB.jpg" alt="Royal Challengers Bangalore" width="460" height="345">
   </div>

   <div class="item">
     <img src="ipl images/team_logo/RPS.jpg" alt="Rising Pune Super Gaint" width="460" height="345">
   </div>

   <div class="item">
     <img src="ipl images/team_logo/SRH.jpg" alt="Sun Risers Hyderabad" width="460" height="345">
   </div>
 </div>

 <!-- Left and right controls -->
 <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
   <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
   <span class="sr-only">Previous</span>
 </a>
 <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
   <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
   <span class="sr-only">Next</span>
 </a>
</div>
</div>
</div>
